html, body {
  touch-action: manipulation;
}

* {
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, #222, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  min-height: 10svh;
  text-align: center;
  align-items: center;
}

.title {
  font-size: clamp(1.8rem, 6vw, 3.5rem);
  font-weight: 700;
  letter-spacing: 0.08em;
  margin-bottom: 4vh;
  text-align: center;
}

#bigButton {
  width: min(85vw, 85vh);
  height: min(85vw, 85vh);

  border-radius: 50%;
  border: none;

  font-size: clamp(2rem, 8vw, 4rem);
  font-weight: 800;
  letter-spacing: 0.1em;

  touch-action: manipulation;

  background: radial-gradient(
    circle at top,
    #ff5555,
    #b00000
  );

  color: white;

  box-shadow:
    0 16px 0 #700,
    0 24px 40px rgba(0,0,0,0.6);

  cursor: pointer;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

#bigButton:active {
  transform: translateY(10px);
  box-shadow:
    0 6px 0 #700,
    0 14px 24px rgba(0,0,0,0.6);
}


#status {
  margin-top: 20px;
  align-items: center;
  font-size: clamp(1rem, 7vw, 3.5rem);
  opacity: 0.8;
}

@media (orientation: landscape) {
  #bigButton {
    width: min(70vw, 70svh);
    height: min(70vw, 70svh);
    font-size: clamp(2rem, 4vw, 2rem);
    font-weight: 800;
    letter-spacing: 0.1em;
  }

  .title {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-bottom: 2vh;
  }

  #status {
    font-size: clamp(1rem, 3.5vw, 2rem);
    margin-top: 4vh;
  }
}
